<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Profile upload</title>
        {% load static %}
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.baseline_file.url }}">{{ document.baseline_file.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.baseline_file.label_tag }} {{ form.baseline_file.help_text }}</p>

            <p>
                {{ form.baseline_file.errors }}
                {{ form.baseline_file }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>